{% extends 'base.html.twig' %}

{% block title %}Hello GameController!{% endblock %}

{% block body %}
    <h1>
        Liste des jeux
    </h1>
    <div class='container'>
      {% for game in games %}
        <div class="card" style="width: 18rem;">
          <img src="Uploads/{{ game.picture }}">
            <div class="card-body">
              <h5 class="card-title">{{ game.name }}</h5>
              <h5 class="card-title">id user : {{ game.id }}</h5>
              <p class="card-text">{{ game.date | format_date(locale='fr') }}</p>
              <p class="card-text"> {{ game.players }}</p>
              <p class="card-text">{{ game.age }}</p>
              <p class="card-text">{{ game.time }}</p>
              <p class="card-text">{{ game.link }}</p>
              {% for categorie in game.category %}
              <p class="card-text">{{ categorie }}</p>
              {% endfor %}
             <a href="/game/{{game.id}}" type="button" class="btn btn-primary">Détails</a><br>
            </div>
        </div>
      {% endfor %}
    </div>
{% endblock %}
